a, ul, li, h1,h2,h3,h4,h5,h6 {margin:0;padding:0;border:0;outline:0;font-weight:bold;font-size:100%;font-family:inherit;vertical-align:baseline}

.content {width:720px;margin:0 auto;overflow:hidden;background:#fff;border:1px solid #ccc}
.stack > a {background:url(arrow.png) right 9px no-repeat;position:relative;}
.toprow > ul {margin-top:30px;}

li {background:#eed9cb;position:relative;float:left;display:block;}
li li {display:none;}
li ul {position:absolute;display:block;top:0;width:0;left:0;margin-left:0;height:0;}
a {background:transparent;line-height:28px;text-indent:10px;font-size:18px;color:#0041A0;text-decoration:none;font-weight:bold;display:block;height:auto;width:auto;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #999;border-bottom:1px solid #999;height:28px;width:auto;}
a:hover {border-top:1px solid #999;border-left:1px solid #999;border-right:1px solid #ccc;border-bottom:1px solid #ccc;background: #eed9cb;}