<span> <img	src="<%=request.getContextPath()%>/images/ruwi-logo.jpg" width="70"
	height="50"></span>
<div style="clear: both">
	<ul id="JqueryMenu">
		<li><a href="<%=request.getContextPath()%>/home">Home</a></li>
		<li><a href="#">Admin</a>
			<ul>
				<li><a href="#">Company</a>
					<ul>
						<li><a href="<%=request.getContextPath()%>/company/create">Create</a></li>
						<li><a href="<%=request.getContextPath()%>/company/list">List</a></li>
						<li><a href="<%=request.getContextPath()%>/company/semode">Semode</a></li>
						<li><a href="#">SeMode</a></li>
					</ul></li>
			</ul></li>
		<li><a href="#">Masters</a>
			<ul>
				<li><a href="#">Country</a>
					<ul>
						<li><a href="<%=request.getContextPath()%>/country/create">Create</a></li>
						<li><a href="<%=request.getContextPath()%>/country/list">List</a></li>
						<li><a href="<%=request.getContextPath()%>/country/semode">SeMode</a></li>
					</ul></li>
				<li><a href="#">Currency</a>
					<ul>
						<li><a href="<%=request.getContextPath()%>/currency/create">Create</a></li>
						<li><a href="<%=request.getContextPath()%>/currency/list">List</a></li>
						<li><a href="<%=request.getContextPath()%>/currency/semode">SeMode</a></li>
					</ul></li>
				<li><a href="#">Account</a>
					<ul>
						<li><a href="<%=request.getContextPath()%>/account/create">Create</a></li>
						<li><a href="<%=request.getContextPath()%>/account/create">List</a></li>
						<li><a href="<%=request.getContextPath()%>/account/semode">SeMode</a></li>
					</ul></li>
			</ul></li>
		<li><a href="#">Transactions</a>
			<ul>
				<li><a href="#">Journal</a>
					<ul>
						<li><a href="<%=request.getContextPath()%>/journal/add">Add Entry</a></li>
					</ul></li>
			</ul></li>
		<li><a href="#">Reports</a>
			<ul>
				<li><a href="<%=request.getContextPath()%>/report/chart">Chart of Accts</a></li>
				<li><a href="<%=request.getContextPath()%>/report/trial">Trial Balance</a></li>
				<li><a href="<%=request.getContextPath()%>/report/income">Income Statement</a></li>
				<li><a href="<%=request.getContextPath()%>/report/cash">Cash Flow</a></li>
				<li><a href="<%=request.getContextPath()%>/report/balance">Balance Sheet</a></li>
			</ul></li>
		<li><a href="<%=request.getContextPath()%>/logout">Logout</a></li>
	</ul>
</div>

<br/><br/>
