
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Ruwi Home</title>
<!--  ruwi.css -->
<link
	href="<%=request.getContextPath()%>/css/ruwi.css"
	rel="stylesheet">
	
<!-- Bootstrap core CSS -->
<link
	href="<%=request.getContextPath()%>/webjars/bootstrap/3.3.1/bootstrap.min.css"
	rel="stylesheet">

<!-- SmartMenus jQuery Bootstrap Addon CSS -->
<link
	href="<%=request.getContextPath()%>/css/jquery.smartmenus.bootstrap.css"
	rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<!-- Placed at the end of the document so the pages load faster -->

<script
	src="<%=request.getContextPath()%>/webjars/jquery/2.1.3/jquery.min.js"></script>
<script
	src="<%=request.getContextPath()%>/webjars/bootstrap/3.3.1/bootstrap.min.js"></script>

<!-- SmartMenus jQuery plugin -->
<script type="text/javascript"
	src="<%=request.getContextPath()%>/js/jquery.smartmenus.js"></script>

<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript"
	src="<%=request.getContextPath()%>/js/jquery.smartmenus.bootstrap.js"></script>

<script type="text/javascript">
	$(function() {
		$('#main-menu').smartmenus({
			subMenusSubOffsetX : 1,
			subMenusSubOffsetY : -8
		});
	});
</script>


<!-- SmartMenus core CSS (required) -->
<link href="<%=request.getContextPath()%>/css/sm-core-css.css" rel="stylesheet" type="text/css" />

<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
<link href="<%=request.getContextPath()%>/css/sm-blue.css" rel="stylesheet" type="text/css" />

<!-- #main-menu config - instance specific stuff not covered in the theme -->
<style type="text/css">
	#main-menu {
		position:relative;
		z-index:9999;
		width:auto;
	}
	#main-menu ul {
		width:12em; /* fixed width only please - you can use the "subMenusMinWidth"/"subMenusMaxWidth" script options to override this if you like */
	}
</style>